{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
	Home page - {{ block.super }}
{% endblock %}




{% block sidebar %}
	{% include 'core/includes/sidebar.html' %}
{% endblock %}



{% block content %}

	{% if user.is_active %}

	<div class = 'container mt-5 mb-5 cont-sidebar-right'>

			{% include 'core/includes/content.html' %}
			{% include 'core/includes/paggination.html' %}					

	</div>

		
	          	

	{% else %}
	<div class = 'container mt-5'>
		<h4>You must <a href="{% url 'login-view' %}">Log In</a> before see all.</h4>
		<h5>If you don't have an account, you can <a href="{% url 'registration-view' %}">Register</a></h5>
	</div>
	{% endif %}

{% endblock %}



{% block jquery %}

<script>
	$(document).ready(function(){
		$('.add-category').click(function() {
			$('.form-project').fadeToggle();
		});
	})
</script>

<script>
	$(document).ready(function(){
		$('.add-task').click(function() {
			$('.form-task').fadeToggle();
		});
	})
</script>

{% endblock %}