<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-light" href="/">Library Helper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- First Dropdon -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          General Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dd-item" href="{% url 'base-view' %}">All books</a>
          <a class="dropdown-item dd-item" href="{% url 'books-in-library' %}">In library</a>
          <a class="dropdown-item dd-item" href="{% url 'books-on-hands' %}">On hands</a>
          <a class="dropdown-item dd-item" href="{% url 'need-return-books' %}">Need return</a>
        </div>
      </li>


      <!-- Second Dropdon -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions (Edit/Create)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dd-item" href="{% url 'general-book' %}">General info about book</a>
          <a class="dropdown-item dd-item" href="{% url 'book-info' %}">Info about book</a>
          <a class="dropdown-item dd-item" href="{% url 'subscribers' %}">Subscriber</a>
          <a class="dropdown-item dd-item" href="{% url 'locations' %}">Location</a>
          <a class="dropdown-item dd-item" href="{% url 'genre' %}">Genre</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'statistics' %}">Statistics</a>
      </li>
    </ul>

      <!-- Search button -->
      <form class="form-inline my-2 my-lg-0" method = 'GET' action = "{% url 'search-view' %}">
        <div class="form-group mr-2">
          <input type="text" class="form-control search-form" placeholder="Search by title or subscriber" name = 'q' style = 'width: 250px;'>
        </div>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>

    
  </div>
</nav>