{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Awesome Blog. Enjoy it!!!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/3-col-portfolio.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">My Awesome Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                
                <!-- Dropdown here with categories -->   
				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  	{% for category in categories %}
                  	<!-- 
                  		#<li><a href="{% url 'category-detail' slug=category.slug %}">{{category.name}}</a></li>
                  	 -->
                    <li><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
                    {% endfor %}
                  </ul>
                </li>

                <!-- Search button -->
                <li>
                    <form class="navbar-form navbar-left" method = 'GET' action ='{% url 'search_view' %}'>
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Введите ключевые слова" name = 'q'>
                        </div>
                        <button type="submit" class="btn btn-default">Поиск</button>
                     </form>
                </li>

                {% if not request.user.is_authenticated %}
                <li>
                    <a href="{% url 'login_view' %}">Войти</a>
                </li>
                <li>
                    <a href="{% url 'registration' %}">Зарегистрироватся</a>
                </li>
                {% else %}
                <li>
                    <p class = 'navbar-text'>Приветствую Вас, {{ request.user }}</p>
                </li>
                <li>
                    <a href="{% url 'logout_view' %}">Выйти</a>
                </li>
                {% endif %}


                <!-- {% if request.user.is_authenticated %}
                </ul>
                <ul class = 'nav navbar-nav navbar-right'>
                    #<li><a href="#">Личный кабинет</a></li>
                </ul>
                {% endif %} -->
            </div> 
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


{% block content %}
    <!-- Page Content -->
    <div class="container">


        <!-- тут типа карусель -->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            {% for article in slider_articles %}
            {% if forloop.first %}
            <div class="item active">
              <img class="first-slide" src="{{ article.image.url }}" style = 'width:100%; height:650px;' alt="First slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ article.title }}</h1>
                  <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="{{ article.get_absolute_url }}" role="button">Читать полностью</a></p>
                </div>
              </div>
            </div>
            {% else %}
            <div class="item">
              <img class="second-slide" src="{{ article.image.url }}" style = 'width:100%; height:650px;' alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ article.title }}</h1>
                  <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                  <p><a class="btn btn-lg btn-primary" href="{{ article.get_absolute_url }}" role="button">Читать полностью</a></p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>

          <br>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style = 'background: transparent;'>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style = 'background: transparent;'>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


        <!-- тут типа слайдер и статтьи в тренде по лайкам  -->
        <div class="row">
            <h3>В тренде:</h3>
            <hr>
            <div class="col-sm-12">
                <div class="col-md-4">
                    <p id = 'article_image'>
                        <img src="{{ article.image.url }}" style = 'width:100%; height: 200px;'>
                    </p>
                </div>
                <div class="col-sm-8">
                    {% for article in articles %}
                    <ul>
                        <li style = 'list-style-type: none;'>
                            <a href="{{ article.get_absolute_url }}" class = 'article' data-id = '{{ article.id }}'>{{ article.title }}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div> 

        <!-- TABS for CATEGORY -->
        <div class='container'>
        <br>
        <ul class="nav nav-tabs" role="tablist">
            {% for category in categories %}

                <!-- если первый тег активный -->
                {% if forloop.first %}
                    <li role="presentation" class="active"><a href="#{{ category.slug }}" class = 'category' data-slug = '{{ category.slug }}' aria-controls="{{ category.slug }}" role="tab" data-toggle="tab">{{ category.name }}</a></li>
                {% else %}
                    <li role="presentation"><a href="#{{ category.slug }}" class = 'category' data-slug = '{{ category.slug }}' aria-controls="{{ category.slug }}" role="tab" data-toggle="tab">{{ category.name }}</a></li>
                {% endif %}
    
            {% endfor %}
        </ul>

        <!-- сюда закидываем статтьи -->
        <div class = 'show_articles_by_category'>
            <!-- прописываем, дабы отображались статтьи для первого таба -->
            {% for article in tab_articles %} 
                {% if article.category.slug == 'travel' %}
                    <br>
                    <div class = "col-sm-12" style = "margin-bottom:15px;">
                        <div class="col-sm-2">
                            <img src="{{ article.image.url }}" style = "width:150px; height:100px;">
                        </div>

                        <div class="col-sm-8">
                            <ul style = "list-style-type:none;">
                                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        </div>

       <!-- Projects Row -->
       <!-- /.row -->

        <!-- Pagination -->
        <!-- /.row -->

        <hr>
{% endblock content %}



        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Scorpion WIN!!! &copy; Enjoy it!!! 2018</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.js' %}"></script>



    {% block jquery %}
    <!-- скрипт - наводим мишкой на ссылки под нав моделью -->
    <script >
        $(document).ready(function() {
            $('.article').on('mouseenter', function(){
                var article_id = $(this).attr('data-id')
                data = {
                    article_id: article_id
                }
                // передаем через ajax переменную 
                $.ajax({
                    type: 'GET',
                    url: '{% url "article-image" %}',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        $('#article_image').html('<img style = "width:100%; height:200px; "  src = "http://127.0.0.1:8000'+data.article_image +'">')
                    }
                })
            })
        });
    </script>

    <!-- скрипт для отображения статтьей по категориям в Табах -->
    <script>
        $(document).ready(function(){
            $('.category').on('click', function(){
                var category_slug = $(this).attr('data-slug')
                data = {
                    category_slug:category_slug
                }

                // очищаем див при смене категорий 
                $('.show_articles_by_category').html('')
                $.ajax({
                    type:'GET',
                    url: '{% url "articles_by_category" %}',
                    dataType:'json',
                    data:data,
                    success: function(data){
                        $.each(data, function(field){
                            for(i=0;i<=field.length;i++){
                                $('.show_articles_by_category').append('<br><div class = "col-sm-12" style = "margin-bottom:15px;"><div class="col-sm-2">'+ '<img src="http://127.0.0.1:8000/media/'+data[field][i]['image']+'" style = "width:150px; height:100px;"></div>'+'<div class="col-sm-8"><ul style = "list-style-type:none;"><li><a href="'+category_slug +'/'+data[field][i]['slug']+'">'+data[field][i]['title']+'</a></li></ul></div></div>')
                            }
                        })
                    }
                })
            })
        })    
    </script>

    {% endblock jquery %}

</body>

</html>








