{% load static %}

<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



	<title>
		{% block title %}
			To-Do List
		{% endblock %}
	</title>
</head>


<body>


	<header class="site-header">
	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="{% url 'base-view' %}">TODO</a>


		<!-- Search button -->
	      <form class="form-inline my-2 my-lg-0" method = 'GET' action = "{% url 'search-view' %}">
	        <div class="form-group mr-2">
	          <input type="text" class="form-control float-right search-form" placeholder="Поиск заданий" name = 'q' style = 'width: 250px;'>
	        </div>
	        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Найти</button>
	      </form>


		<div class = 'd-inline'>
			{% if user.is_active %}
				<a href="{% url 'delete-user' %}" id="cancel" name="cancel" class="btn btn-danger">Delete User Account</a>
				<a href="{% url 'delete-all-tasks' %}" id="cancel" name="cancel" class="btn btn-danger">Delete All Tasks</a>
				<a class="btn btn-primary" href="{% url 'logout-view' %}">Logout</a>
		    {% else %}
				<a class="btn btn-primary" href="{% url 'login-view' %}">Login</a>
			    <a class="btn btn-primary" href="{% url 'registration-view' %}">Register</a>
		    {% endif %}
		</div>

	</nav>
	</header>


		    {% block sidebar %}
		    {% endblock %} 

		    {% block content %}
		    {% endblock %}



	</div>




	<script src="https://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	{% block jquery %}
	{% endblock %}

</body>
</html>