{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
	Home page - {{ block.super }}
{% endblock %}




{% block sidebar %}
	{% if user.is_active %}
		{{ projects }}
	{% endif %}
{% endblock %}



{% block content %}

	{% if user.is_active %}

		<p>HERE WAS SHIT content</p>
	          	

	{% else %}
	<div class = 'container mt-5'>
		<h4>You must <a href="{% url 'login-view' %}">Log In</a> before see all.</h4>
		<h5>If you don't have an account, you can <a href="{% url 'registration-view' %}">Register</a></h5>
	</div>
	{% endif %}

{% endblock %}