{% extends 'main.html' %}

{% block admin-panel %}
	<div class="dropdown">
		<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Create
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="{% url 'tag-create' %}">Tag</a>
		    <a class="dropdown-item" href="{% url 'post-create' %}">Post</a>
		</div>
	</div>
	{% if detail_post %}
		<a href="{% url 'post-update' object.slug %}" class = 'btn btn-light edit'>Edit Post</a>
		<a href="{% url 'post-delete' object.slug %}" class = 'btn btn-danger delete'>Delete Post</a>
	{% endif %}

	{% if detail_tag %}
	<a href="{% url 'tag-update' object.slug %}" class = 'btn btn-light edit' style="display: block;">Edit Tag</a>
	<a href="{% url 'tag-delete' object.slug %}" class = 'btn btn-danger delete' style="display: block;">Delete Tag</a>
	{% endif %}
{% endblock %}

<!-- {% url 'post-update' object.slug %} -->