.row {
	background-color: #EFEFEF;
	margin-top: 3px;
	margin-left: 0.5%;
	width: 99%;
	border-top:1px solid #A1A1A1;
}

#article-id {
	width: 55%;
	min-height: 600px;
	background-color: white;
	margin-top: 1px;
}




.side-bar {
	margin-left: 2%;
}


#pr-title {
	margin-left: 10%;
	color: #858585;
	text-decoration: underline;
}


.list-group a, .first-ul a {
	color: #858585;
}

.first-ul a {
	font-size: 1.2em;
	font-weight: bold;
}


.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  float: left;
  margin: 4px 5px 0px -2px;
}


/*.side-bar h6 {
	margin-left: 10%;
	color: red;
}
*/

.container .circle {
  margin: 4px 5px 0px 5px;
}


.container table {
	width:100%;
}

.container table tr {
	border-bottom: 1px solid black;
}

.container table td {
	padding: 7px 0px;
	font-size: 1.2em;
}

.square {
  width: 15px;
  height: 15px;
  float: left;
  margin: 4px 5px 0px 15px;
  border: 1px solid black;
}

.task-td {
	text-align: right;
	margin-left: -20px;
}