.row {
	background-color: #EFEFEF;
	margin-top: 3px;
	margin-left: 0.5%;
	width: 99%;
	border:1px solid #A1A1A1;
}

#article-id {
	width: 50%;
	min-height: 600px;
	background-color: white;
	margin-left: 25%;
	margin-top: 1px;
}