{% load crispy_forms_tags %}
	<div class = 'container mt-4 sidebar-form'>

		<h3 class = 'text-center mt-3'>{{ form_title }}</h3>
		<hr>

			{% if messages %}
			  	{% for message in messages %}
			  		<div class = 'alert alert-{{ message.tags }}'>
			  			<b>{{ message }}</b>
			  		</div>
			  	{% endfor %}
			{% endif %} 



		<form method = 'POST'action = '' class = 'form-group' content='text/html; charset=UTF-8'>

<!-- 			{% if form.errors %}
				    {% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
			{% endif %} -->

			{% csrf_token %}
			{{ form|crispy }}
			<button class = 'btn btn-outline-info' type = 'Submit'>{{ form_buttom }}</button>

			<a href="{% if cancel_button %}javascript:window.history.back(){% endif %}" id="cancel" name="cancel" class="btn btn-primary">Cancel</a>
		</form>	
	</div>