		<hr>
			<!-- Pagination -->
			<div style = 'margin-left: 45%;'>
			{% if books.has_other_pages %}
				{% if books.has_previous %}
					<a href="search?q={{search_word}}&page=1" class = 'btn btn-outline-info mb-4'>First</a>
					<a href="search?q={{search_word}}&page={{ books.previous_page_number }}" class = 'btn btn-outline-info mb-4'>Previous</a>
				{% endif %}

				{% for num in books.paginator.page_range %}
					{% if books.number == num %}
						<a href="search?q={{search_word}}&page={{ num }}" class = 'btn btn-info mb-4'>{{ num }}</a>
					{% elif num > books.number|add:'-3' and num < books.number|add:'3' %}
						<a href="search?q={{search_word}}&page={{ num }}" class = 'btn btn-ouline-info mb-4'>{{ num }}</a>
					{% endif %}
				{% endfor %}

				{% if books.has_next %}
					<a href="search?q={{search_word}}&page={{ books.next_page_number }}" class = 'btn btn-outline-info mb-4'>Next</a>
					<a href="search?q={{search_word}}&page={{ books.paginator.num_pages }}" class = 'btn btn-outline-info mb-4'>Last</a>
				{% endif %}

			{% endif %}
			</div>