{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class = 'container mt-4'>
		<h3 class = 'text-center mt-3'>Поиск:</h3>
		<hr>
		<form method = 'POST'action = '' class = 'form-group'>
			{% csrf_token %}

			<div class = 'form-row'>
				<div class = 'form-group col-md-5 mb-0'>
					{{ form.job|as_crispy_field }}
				</div>
				<div class = 'form-group col-md-2 mb-0' style = 'margin-left: 2%;'>
					{{ form.city|as_crispy_field }}
				</div>
				<div class = 'form-group col-md-2 mb-0' style = 'margin-left: 2%;'>
					{{ form.site|as_crispy_field }}
				</div>
				<div class = 'form-group col-md-2 mb-0' style = 'margin-left: 2%;'>
					{{ form.period|as_crispy_field }}
				</div>
			</div>
			<button class = 'btn btn-outline-info' type = 'Submit'>Find job</button>
		</form>
	</div>


	
	{% if count_t == -1  %}

	<div class = 'container mt-4'>
		<h3 class = 'text-center mt-3'>Неправильно заданные параментры поиска.</h3>
		<hr>
	</div>

	{% else %}

	{% if count_t %}
		<div class = 'container mt-4'>
			<h3 class = 'text-center mt-3'>Было найдено {{ count_t }} вакансий.</h3>
			<hr>	
			{% if data.exists %}	
			{% for df in data %}
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<h4><a href="{{ df.url }}">{{ df.title }}</a></h4>
						<b>{{ df.company }}</b>
					</div>
	 		
				<p class="article-content">{{ df.description }}</p>	
				<i style = 'float: right;'>{{ df.date }}</i>		
				
				</div>
			</article>
			{% endfor %}
		</div>

		{% endif %}
	{% elif count_t == 0 %}
		<div class = 'container mt-4'>
			<h3 class = 'text-center mt-3'>Было найдено 0 вакансий.</h3>
		<hr>
	</div>
	{% endif %}
	{% endif %}
{% endblock %}


