{% load crispy_forms_tags %}

		  <div class="content-section">
	          <ul class="list-group first-ul">
	            <li class="list-group-item list-group-item-light"><a href="{% url 'base_view' %}">Today</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{% url 'task_7today' %}">Next 7 Days</a></li>
	          </ul>
	          <br><br>
	          <h5 id = 'pr-title'>Projects:</h5>
	          <ul class="list-group">

	          	{% for project in projects %}
	            <li class="list-group-item list-group-item-light">
	            	<div class="circle" style = 'background-color: {{ project.color|lower }}'></div>
	            	<a href="{% url 'project-list' project.id project.title %}">{{ project.title }}
						{%for count in count_task%}
							{% if project.id ==  count.project%}
								({{count.count}})
							{% endif %}
						{%endfor%}

	            	</a> 
	            	

	            	<div class="dropdown" style = 'float:right;'>
					  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="{% url 'project-delete' project.pk %}">Delete</a>

					    <!-- ТУТ БЫЛО project-update -->
					    <a class="dropdown-item" href="{% url 'update' project.pk project.title %}">Edit</a>
					  </div>
					</div>


	            </li>
	            {% endfor %}

	          </ul>
	          <br>
			  <h6 class = 'add-button-project'>+{{ button_project_title }}</h6>

	      </div>


			<!-- style = 'display: none;' -->
			<form class="form-signin form-project" action = '' method="POST" style = 'display: {{ display }}'>
				<hr>
					{{ form.error }}
					{% csrf_token %}
					
					<div class = 'form-row'>
						<div class="form-group col-md-7 mb-0">
							{{ form.title|as_crispy_field }}
						</div>
						<div class="form-group col-md-5 mb-0">
							{{ form.color|as_crispy_field }}
						</div>
					</div>
				<input class="btn btn-primary pl-6 pr-6" type="submit" value="{{ button_action }}" name = 'form'>
				<a href="" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
			</form>