{% load crispy_forms_tags %}

		<div class="container">
			<p><span class="glyphicon glyphicon-euro"></span></p> 
			<h4 class = 'mt-3'>{{ title }} <span style = 'font-size: 0.7em;'>{{ day|date:'d M' }}</span> </h4> 
		
			{% for task in tasks %}
			<table>
				<tr>
					<td style = 'width:5%;'><div class="square" style = 'background-color: {{ task.get_priority_display|lower }}'></div></td>
					<td style = 'width:65%;'>{{ task.title }}</td>
					<td class = 'task-td' style = 'width:20%; '>{{ task.project }}</td>
					<td style = 'width:10%;'><div class="circle" style = 'background-color: {{ task.project.color|lower }}'></div></td>
				</tr>
			</table>
			{% endfor %}

			<br>
			
			<h6 class = 'add-button-task'>+Add Task</h6>


			<form class="form-signin form-task" action = '' method="POST" style = 'display:none;'>
			<hr>
				{{ form2.error }}
				{% csrf_token %}

				<div class = 'form-row'>
					<div class="form-group col-md-6 mb-0">
						{{ form2.title|as_crispy_field }}
					</div>
					<div class="form-group col-md-6 mb-0">
						{{ form2.timestamp|as_crispy_field }}
					</div>
				</div>

				<div class = 'form-row' style = 'float:right;'>
					<div class="form-group col-md-6 mb-0">
						{{ form2.project|as_crispy_field }}
					</div>
					<div class="form-group col-md-6 mb-0">
						{{ form2.priority|as_crispy_field }}
					</div>
				</div>

			<input class="btn btn-primary pl-4 pr-4" type="submit" value="Add Task" name = 'form2'>
		</form>
		</div>