{% extends 'index.html' %}


{% block content %}
    <!-- Page Content -->
    <div class="container">
    	<h3 class = 'text-center'>Books on hands:</h3>

		<table class="table">
			<tr>	
				<td class="text-center"><strong>Book title</strong></td>
				<td class="text-center"><strong>Person</strong></td>
				<td class="text-center"><strong>Date of issue</strong></td>
				<td class="text-center"><strong>Date of return</strong></td>	
			</tr>

			{% for book in books_on_hands %}
			<tr>	
				<td class="text-center">{{ book.book }}</td>
				<td class="text-center">{{ book.person_subscription }}</td>
				<td class="text-center">{{ book.date_of_issue }}</td>
				<td class="text-center">{{ book.date_of_return }}</td>	
			</tr>
			{% endfor %}
		</table>

    </div>

        <hr>
{% endblock content %}
