{% extends 'index.html' %}

{% block content %}	


<div class = 'container'>

<div class="row">
  <h2 class= 'text-center'>Genres:</h2>
  <hr>

  {% for genre in genres %}	
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <div class="caption">
        <h4>{{ genre }}</h4>
        <p>
        	<span style= 'background-color: black; padding: 5px 10px; border-radius: 5px;'>
				<a href="{% url 'update_genre'  title=genre.title  %}" style= 'color:white;'>Edit</a>
			</span>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>





<span style= 'background-color: red; color:white; margin-left:48%; padding: 5px 10px; border-radius: 5px;'>
	<a href="/create_genre/" style= 'color:white;'>Add new Genre</a>
</span>

{% endblock %}
