{% extends 'base.html' %}

{% block title %}
	Home page - {{ block.super }}
{% endblock %}




{% block sidebar %}
	{% if user.is_active %}
		{% include 'to_do/includes/sidebar.html' %}
	{% else %}
		 <div class="content-section">
		 	  <ul class="list-group">
	          	{% for project in full_projects %}
	            {% endfor %}
	          </ul>
		 </div>
	{% endif %}



{% endblock %}



{% block content %}

	{% if user.is_active %}

		{% if title == 'Today'%}
			{% include 'to_do/includes/today.html' %}
		{% elif title == '7 days' %}
			{% include 'to_do/includes/7days.html' %}
		{% endif %}

	{% else %}
		<h4>You must <a href="{% url 'login_view' %}">Log In</a> before see all.</h4>
		<h5>If you don't have an account, you can <a href="{% url 'registration' %}">Register</a></h5>
	{% endif %}



{% endblock %}