{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
	Home page - {{ block.super }}
{% endblock %}




{% block sidebar %}
	{% if user.is_active %}
		{% include 'to_do/includes/sidebar.html' %}
	{% else %}
		 <div class="content-section">
		 	  <ul class="list-group">
	          	{% for project in full_projects %}
	            {% endfor %}
	          </ul>
		 </div>
	{% endif %}

{% endblock %}



{% block content %}

	{% if user.is_active %}

		{% include 'to_do/includes/content.html' %}

	{% else %}
		<h4>You must <a href="{% url 'login_view' %}">Log In</a> before see all.</h4>
		<h5>If you don't have an account, you can <a href="{% url 'registration' %}">Register</a></h5>
	{% endif %}


{% endblock %}




{% block jquery %}
<script>
	$(document).ready(function(){
		$('.add-button-project').click(function() {
			$('.form-project').fadeToggle();
		});
	})
</script>

<script>
	$(document).ready(function(){
		$('.add-button-task').click(function() {
			$('.form-task').fadeToggle();
		});
	})
</script>
{% endblock %}