<div class="container mt-4 mb-4">
	{% if books %}

		{% if title == 'Search' %}
			<h3 class = 'text-center mt-3 mb-3'>{{ title_content }} ({{ books_c.count }}):</h3>
		{% else %}
			<h3 class = 'text-center mt-3'>{{ title_content }}</h3>
		{% endif %}
		
		<hr>

		<table class="table table-bordered table-hover">
			<thead class="table-primary">
			<tr>	
				<th class="text-center th-search">Book title</th>
				<th class="text-center th-search">Person</th>
				<th class="text-center th-search">Date of issue</th>
				<th class="text-center th-search">Date of return</th>
				<th class="text-center th-search">Status</th>	
			</tr>
			</thead>

			<tbody>
			{% for book in books %}
			<tr>	
				<td class="text-center"><a href="{% url 'unique-book' book.pk book.book %}">{{ book.book }}</a></td>

				{% if book.status_of_book == 1 or book.status_of_book == -1 %}
					<td class="text-center">{{ book.person_subscription }}</td>
					<td class="text-center">{{ book.date_of_issue }}</td>
					<td class="text-center">{{ book.date_of_return }}</td>
					<td class="text-center">{{ book.get_status_of_book_display }}</td>
				{% else %}	
					<td class="text-center lib-book"></td>
					<td class="text-center lib-book"></td>
					<td class="text-center lib-book"></td>
					<td class="text-center lib-book">{{ book.get_status_of_book_display }}</td>
				{% endif %}	

			</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
			<!-- <div class="container mt-4 mb-4"> -->
			<h3 class = 'text-center mt-3'>Sorry, we could not find anything.</h3>

	{% endif %}


		{% if title == 'Search' %}
			{% include 'core/includes/detail/paggination-search.html' %}
		{% else %}
			{% include 'core/includes/detail/paggination.html' %}
		{% endif %}

	

</div>