html {
	position: relative;
	min-height: 100%;
}


 /*css for index.html */

.article-box {
	/*max-width: 45%;*/
	/*min-height: 500px;*/
	background-color: lightgrey;
	border: 1px solid grey;
	border-radius: 10px;
	/*padding: 15px;*/
	/*margin-bottom: 5px;*/
	/*float:left;*/

}



.article-box:hover{
	box-shadow: 1px 1px 2px 3px grey;
	background-color: white;
}

.article-image{
	width: 100%; 
	height: 250px;
	padding-top: 15px; 
}


/* slider on index.html */
.first-slide,
.second-slide {
	width:100%;
	height: 650px;
}

.carousel-control {
	background: transparent;
}



/*css for category-detail*/

.category-div {
	margin-bottom: 15px;
	border: 1px solid grey;
	border-radius: 10px;
	margin: 5px 5px 5px 10px;
	background-color: lightgrey;
}

.category-image {
	width:100%;
	height: 250px;
	padding: 10px 0px;
}

.category-button {
	float:right;
	margin-top: 10px;
}

.category-content {
	float:left;
}

.category-date {
	float: right;
	margin-bottom: 5px;
}


/* css for article-detail */
/*
.article-image {
	width: 60%;
}