{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% if title.exists %}
	{% block title %}
		{{ post.title }} - {{ block.super }}
	{% endblock %}
{% endif %}



{% block content %}


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



<div class="container mt-5 mb-5">
    <h3 class ='text-center'>{{ post.title }}</h3>
    <hr>
    <div class = 'clearfix'>
        <img src="{{ post.image.url }}" style="width:60%" class = 'float-right'>
        <small class="pl-5"><i>Added by {{ post.author }} on {{ post.date_posted }}</i></small>
        {{ post.content|safe|linebreaks }}

        {% if user == post.author %}
            <div class = 'float-right mr-2'>
                <a href="{% url 'posts:post-update' post.slug %}" class = 'btn btn-success'>Update New Post</a>
                <button type="button" class="post-delete btn btn-danger" data-id="{% url 'posts:post-delete' post.pk %}">Delete Post</button>
            </div>
        {% endif %}

    </div>


    <hr>

</div>

{% endblock %}


{% block scripts %}

  <script type="text/javascript">
    $(function () {

      // Delete post buttons
      $(".post-delete").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

    });
  </script>


{% endblock %}