{% load static %}

<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<title>
		{% block title %}
			To-Do List
		{% endblock %}
	</title>
</head>


<body>


	<header class="site-header">
	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="">TODO</a>
		<div class = 'd-inline'>
			{% if user.is_active %}
				<a class="btn btn-primary" href="{% url 'logout_view' %}">Logout</a>
		    {% else %}
				<a class="btn btn-primary" href="{% url 'login_view' %}">Login</a>
			    <a class="btn btn-primary" href="{% url 'registration' %}">Register</a>
		    {% endif %}
		</div>

	</nav>
	</header>
<!-- 
	<div class="sect" style = 'width: 25%;'>
		<h3>All Tags:</h3>
		<ul class="list-group">
			<li class="list-group-item list-group-item-light">
				<a href="#">Today</a>
			</li>
			<li class="list-group-item list-group-item-light">
				<a href="#">Next 7 days</a>
			</li>
		</ul>
		</p>
	</div> -->



	<div class="row">


		<div class="col-md-2 side-bar">
		    {% block sidebar %}
		    {% endblock %} 
	    </div>

	    <article id = 'article-id'>
		    {% block content %}
		    {% endblock %}
	    </article>



	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


	{% block jquery %}
	{% endblock %}



</body>
</html>